{% trans_default_domain 'FOSUserBundle' %}
                   {% if error %}
                       <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                   {% endif %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">

            <form action="{{ path("fos_user_security_check") }}" method="post"
                  class="login100-form validate-form flex-sb flex-w">
	<span class="login100-form-title p-b-51">
						Login
					</span>

                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}


                <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">

                    <input type="text" id="username" name="_username" placeholder="Username" value="{{ last_username }}"
                           required="required" autocomplete="username" class="input100"/>
                    <span class="focus-input100"></span>
                </div>


                <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                    <input type="password" class="input100" name="_password" id="password-field" placeholder="Password"
                           required="required" autocomplete="current-password"/>
                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="_remember_me" value="on">
                        <label class="label-checkbox100" for="remember_me">
                            Remember me
                        </label>
                    </div>

                    <div>
                        <a href="#" class="txt1">
                            Forgot?
                        </a>
                    </div>
                </div>

                <input type="submit" id="_submit" class="login100-form-btn" name="_submit"
                       value="{{ 'security.login.submit'|trans }}"/>
            </form>
